<h1 class="banner"> Batches </h1>

<div class="batch-wrapper">
<% @batches.each do |batch| %>
  <div class="batch">
    <%= image_tag batch.image_url %>
    <p>
      <h3><%= batch.name %></h3>
      <%= batch.description %>
      <br /><br />
      <button><%= link_to "View batch", batch_path(batch) %></button>
      <br />
    </p>
  </div>
<% end %>
</div>
