<h1> Batches </h1>

<% @batches.each do |batch| %>
  <div class="batch">
    <%= image_tag batch.image_url %>
    <h3><%= link_to batch.name, batch_path(batch) %></h3>
    <p><%= batch.description %></p>
  </div>
<% end %>
