<div class="header">
  <h1>Codaisseur Connect </h1>
  <ul>
    <li><h2><%= link_to "All the batches", batches_path() %></h2></li>
    <li><h2><%= link_to "New student", new_student_path()%></h2></li>
  </ul>
</div>
